/*=============================================
    breadcrumb Section 
=============================================*/
.breadcrumb-section {
  position: relative;
  padding: 106px 0px;
}
.breadcrumb-section .breadcrumb-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.breadcrumb-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--thm-primary);
  opacity: 0.7;
  z-index: 1;
}
.breadcrumb-section .content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.breadcrumb-section .content h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}
.breadcrumb {
  background: transparent;
  justify-content: center;
  margin: 0px;
}
.breadcrumb .breadcrumb-item a {
  color: #fff !important;
  font-weight: 600;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #d3d3d3 !important;
}
.breadcrumb .breadcrumb-item.active {
  color: #d3d3d3 !important;
  font-weight: 600;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
/*=============================================
    breadcrumb Section End 
=============================================*/

/*=============================================
    About Section  
=============================================*/
.about-section .about-container {
  gap: 0px 40px;
  display: flex;
}
.about-section .about-left {
  position: relative;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .about-left img {
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}

.about-section .about-left .inner {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.about-section .about-left .inner::before {
  position: absolute;
  top: 0;
  left: -100%;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(15deg);
  z-index: 1;
}

.about-section .about-left:hover .inner::before {
  animation: shine 1.5s;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.about-section .about-right {
  align-content: center;
}
.about-section .about-right .top-section,
.lifesaving-section .top-section {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  margin-bottom: 10px;
}
.about-section .about-right .top-section i,
.lifesaving-section .top-section i {
  font-size: 20px;
  color: var(--thm-base);
}
.about-section .about-right .top-section img {
  width: 25px;
}
.about-section .about-right .top-section h4,
.lifesaving-section .top-section h4 {
  margin-bottom: 0px;
}
.about-section .about-right h2 {
  margin-bottom: 5px;
}
.about-section .about-right p {
  font-size: 18px;
}
.about-section .about-right .btn-cont {
  margin-top: 30px;
  display: flex;
  gap: 0px 20px;
}
.about-section .about-right .check-section {
  width: 90%;
  margin-top: 40px;
  gap: 15px 0px;
}

/*=============================================
    About Section  End
=============================================*/

/*=============================================
    lifesaving section 
=============================================*/
.lifesaving-section {
  background-color: #f2f3fa;
}
.lifesaving-section .bg-color {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
}

.lifesaving-section .counter-cont {
  text-align: center;
  border-right: 2px solid var(--thm-base);
  padding: 0px 15px;
}
.lifesaving-section .bg-color .last-section {
  border: 0px;
}
.lifesaving-section .bg-color .icon {
  position: relative;
  margin-bottom: 25px;
}
.lifesaving-section .bg-color .icon::after {
  content: "";
  position: absolute;
  background-color: #f2f3fa;
  height: 0px;
  width: 0px;
  margin: auto;
  z-index: 0;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transition: all 500ms ease;
}
.lifesaving-section .counter-cont:hover .icon::after {
  height: 70px;
  width: 70px;
  left: 37%;
  top: -18%;
  transition: all 500ms ease;
}
.lifesaving-section .bg-color .icon img {
  width: 50px;
  position: relative;
  z-index: 2;
}
.lifesaving-section .bg-color h2 {
  margin-bottom: 5px;
  font-size: 22px;
}
.lifesaving-section .bg-color h3 {
  color: var(--thm-base);
  font-size: 18px;
  line-height: 28px;
}
.lifesaving-section .btn-style span {
  color: #fff;
}
.lifesaving-section .highlight-btn {
  text-align: center;
  margin-top: 50px;
}
/*=============================================
    lifesaving section End
=============================================*/

/*=============================================
    Story section
=============================================*/
.story-section .top-section {
  text-align: center;
}
.story-section .bottom-section {
  background-color: #fff;
  display: flex;
  padding: 50px 30px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
}
.story-section .bottom-section img {
  width: 60%;
}
.story-section .bottom-section .our-vision {
  padding-right: 20px;
  padding-top: 25px;
}
.story-section .bottom-section .our-mission {
  padding: 25px 0px;
  border-radius: 20px;

  background-color: #f2f3fa;
}
.story-section .core-value {
  gap: 35px 0px;
}
.story-section .core-value .cont {
  display: flex;
  gap: 15px;
}
.story-section .core-value .cont img {
  width: 50px;
  height: 50px;
}
.story-section .core-value .cont .text h4 {
  font-size: 22px;
  color: var(--thm-primary);
}

/*=============================================
    Story section End
=============================================*/
/*=============================================
    Testinomial section 
=============================================*/
.testinomial-section .custom-gap {
  gap: 0px 24px;
}
.testinomial-section .left-section {
  width: 35%;
  margin: auto;
}
.testinomial-section .left-section h2 {
  margin-bottom: 5px;
}
.testinomial-section .right-section {
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  border-radius: 10px;
  padding: 30px 20px;
  padding-bottom: 60px;
  width: 63%;
  position: relative;
}
/* testinomial */
.lead {
  font-size: 24px;
  color: var(--thm-primary) !important;
  margin-bottom: 20px;
}
.testinomial-section .right-section .carousel .carousel-inner h5 {
  margin-bottom: 0px;
  font-size: 22px;
  color: var(--thm-primary);
}
.testinomial-section .right-section .carousel .carousel-inner p {
  color: var(--thm-base);
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 22px;
  color: var(--thm-base);
  left: 44%;
  height: fit-content;
  bottom: 15px;
  top: unset;
  width: fit-content;
  padding: 10px;
  opacity: 1;
}
.carousel-control-next {
  left: 50%;
}
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-control-next:hover {
  color: var(--thm-primary);
}

@media screen and (max-width: 1025px) {
  .breadcrumb-section {
    padding: 48px 0px;
  }
  .about-section .about-container {
    flex-wrap: wrap;
  }
  .about-section .about-container .about-left {
    margin-bottom: 40px;
    padding: 0px;
  }
  .about-section .about-right .btn-cont {
    margin-top: 20px;
  }
  .lifesaving-section .bg-color .custom-gap {
    gap: 40px 0px;
    flex-wrap: wrap;
  }
  .lifesaving-section .bg-color .custom-gap .md-border-0 {
    border: 0px;
  }
  .lifesaving-section .counter-cont:hover .icon::after {
    left: 39%;
  }
  .story-section .bottom-section {
    flex-wrap: wrap;
    gap: 0px 30px;
  }
  .story-section .bottom-section {
    padding: 30px;
    padding-bottom: 40px;
  }
  .story-section .core-value {
    gap: 20px 0px;
  }
  .testinomial-section .left-section {
    margin-bottom: 30px;
  }
  .testinomial-section .left-section,
  .testinomial-section .right-section {
    width: 100%;
  }
  .lead,
  .testinomial-section .right-section .carousel .carousel-inner h5 {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumb-section .breadcrumb-img {
    height: 150px;
  }
  .breadcrumb-section {
    padding: 43px 0px;
  }
  .breadcrumb-section .content h1 {
    font-size: 25px;
  }
  .about-section .about-right p {
    font-size: 16px;
  }
  .about-section .about-right .check-section {
    width: 100%;
  }
  .lifesaving-section .lifesaving-heading {
    margin-bottom: 5px;
  }
  .lifesaving-section .counter-cont {
    border: 0px;
  }
  .story-section .bottom-section {
    gap: 20px 0px;
  }
  .story-section .core-value {
    gap: 25px 0px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: block !important;
  }
  .carousel-control-prev {
    left: 40%;
  }
}
