/*=============================================
   Banner-section       
=============================================*/
.breadcrumb-section {
  position: relative;
  padding: 106px 0px;
}
.breadcrumb-section .breadcrumb-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.breadcrumb-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--thm-primary);
  opacity: 0.7;
  z-index: 1;
}
.breadcrumb-section .content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.breadcrumb-section .content h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}
.breadcrumb {
  background: transparent;
  justify-content: center;
  margin: 0px;
}
.breadcrumb .breadcrumb-item a {
  color: #fff !important;
  font-weight: 600;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #d3d3d3 !important;
}
.breadcrumb .breadcrumb-item.active {
  color: #d3d3d3 !important;
  font-weight: 600;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

/*=============================================
   List-Service-section       
=============================================*/
.list-service .left-section {
  padding-right: 20px;
}
.list-service .left-section .inner {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #00181926;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
}
.list-service .left-section .inner ul {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}
.list-service .left-section .inner li {
  padding: 10px 0px;
}
.list-service .left-section .inner li a {
  position: relative;
  padding: 10px 0px;
  color: var(--thm-primary);
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 500ms ease;
  font-family: var(--thm-font);
  opacity: 1;
  z-index: 1;
}
.list-service .left-section .inner li > a:before {
  content: "";
  position: absolute;
  border-radius: 5px;
  inset: 0;
  transition: transform 0.4s ease;
  background-color: var(--thm-primary);
  transform: scale(0, 1);
  z-index: -1;
}
.list-service .left-section .inner li:hover > a:before {
  transform: scale(1, 1);
  transform-origin: left center;
}
.list-service .left-section .inner li:hover a {
  color: #fff;
  padding-right: 40px;
  padding-left: 20px;
}
.list-service .right-section {
  padding-left: 20px;
}
.list-service .right-section .inner {
  text-align: center;
}
.list-service .right-section .inner img {
  height: 336px;
  border-radius: 10px;
}

/*=============================================
   service-section       
=============================================*/
.service-section {
  background: #f0f0f0;
}
.service-section .service-left {
  background-image: url("/images/Road_Ambulance/sidebar-info-box-bg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.service-section .service-left .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--thm-primary);
  opacity: 0.8;
  z-index: 1;
}

.service-section .service-left .inner {
  position: relative;
  z-index: 2;
  text-align: center;
}
.service-section .service-left .inner h4 {
  color: #f5f5f5;
  font-size: 30px;
  font-weight: 600;
}
.service-section .service-left .inner p {
  font-size: 18px;
  color: #f5f5f5;
}

.service-section .service-right {
  padding-left: 50px;
}
.service-section .service-right .inner .custom-margin {
  margin-bottom: 5px;
}
/*=============================================
   service-section end  
=============================================*/

/*=============================================
   Highlight-section       
=============================================*/
.icon-bg {
  padding: 20px;
  border-radius: 100%;
  width: 120px;
  margin: auto;
}
.highlight-section {
  background-color: #f0f0f0;
}

.highlight-section .highlight .highlight-col .highlight-cont {
  padding: 20px;
  border: none;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  background: #f0f2f4;
  transition: transform 0.5s ease;
  border-radius: 5px;
}
.highlight-section .highlight .highlight-col .highlight-cont:hover {
  transform: translateY(-10px);
}
.highlight-section .highlight .highlight-col .highlight-cont h4 {
  color: var(--thm-primary);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.highlight-section .highlight .highlight-col .highlight-cont p {
  text-align: center;
}
/*=============================================
   detail-section End       
=============================================*/
.detail-section .detail .detail-col {
  padding: 20px 30px 20px 0px;
}
.detail-section .detail .right-side {
  padding: 20px 0px 20px 30px;
}
.detail-section .detail .detail-col .inner h4 {
  font-size: 28px;
  font-weight: 600;
}
.detail-section .detail .detail-col .inner .detail-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.detail-section .detail .detail-col .inner .detail-list .detail-icon {
  display: flex;
  margin-bottom: 5px;
}
.detail-section .detail .detail-col .inner .detail-list span {
  font-size: 18px;
  font-weight: 600;
}
.detail-section .detail .detail-col .inner .detail-list img {
  margin-right: 6px;
  width: 25px;
}
/*=============================================
   contact-section 
=============================================*/
.contact-section .contact-col h2 {
  text-align: center;
}
.contact-section .contact-col p {
  text-align: center;
}
.contact-section .contact-col .btn-cont {
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

/*=============================================
   contact-section end
=============================================*/

/*=============================================
   detail-section  end
=============================================*/
@media screen and (max-width: 1025px) {
  .breadcrumb-section {
    padding: 48px 0px;
  }
  .list-service .left-section {
    padding-right: 15px;
  }
  .list-service .right-section {
    padding-left: 15px;
  }
  .list-service .right-section .inner img {
    height: auto;
  }
  .list-service .left-section .inner {
    padding: 20px;
  }
  .service-section .service-right {
    padding-left: 12px;
  }
  .service-section .service-left {
    margin: 0px 12px;
    margin-top: 20px;
  }
  .highlight-section .highlight {
    gap: 30px 0px;
  }
  .detail-section .detail .detail-col {
    padding: 0px 12px;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumb-section .breadcrumb-img {
    height: 150px;
  }
  .breadcrumb-section {
    padding: 43px 0px;
  }
  .breadcrumb-section .content h1 {
    font-size: 25px;
  }
  .list-service .left-section {
    padding-right: 12px;
  }
  .list-service .right-section {
    padding-left: 12px;
  }
  .list-service .right-section {
    margin-top: 25px;
  }
  .service-section .service-right {
    margin-bottom: 20px;
  }
  .service-section .service-left {
    margin: 0px;
  }
}
