/*=============================================
   Banner-section       
=============================================*/
.breadcrumb-section {
  position: relative;
  padding: 106px 0px;
}
.breadcrumb-section .breadcrumb-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.breadcrumb-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--thm-primary);
  opacity: 0.7;
  z-index: 1;
}
.breadcrumb-section .content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.breadcrumb-section .content h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}
.breadcrumb {
  background: transparent;
  justify-content: center;
  margin: 0px;
}
.breadcrumb .breadcrumb-item a {
  color: #fff !important;
  font-weight: 600;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #d3d3d3 !important;
}
.breadcrumb .breadcrumb-item.active {
  color: #d3d3d3 !important;
  font-weight: 600;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

/*============================================
=           02.  Service Section          =
=============================================*/
.service-section .top-section {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.service-section .top-section i {
  font-size: 20px;
  color: var(--thm-base);
}
.service-section .top-section h4 {
  margin-bottom: 0px;
}
.service-section h2 {
  text-align: center;
}
.custom-width-30 {
  width: 32.4%;
}
.service-section .service-bottom {
  display: flex;
  justify-content: center;
  gap: 20px 15px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.service-section .service-bottom .service-cont {
  background: #ebebeb;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.6s ease-in-out;
}
.service-section .service-bottom img {
  border-radius: 5px;
  margin-bottom: 20px;
}
.service-section .service-bottom .service-cont .inner {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.service-section .service-bottom .service-cont .inner::before {
  position: absolute;
  top: 0;
  left: -100%;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(15deg);
  z-index: 1;
}
.service-section .service-bottom .service-cont .inner:hover::before {
  animation: shine 1.5s;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.service-section .service-cont h4 {
  font-size: 22px;
  color: var(--thm-primary);
  margin-bottom: 10px;
}
.service-section .service-cont .btn-cont {
  gap: 0px 10px;
  margin-top: 20px;
}
@media screen and (max-width: 1025px) {
  .breadcrumb-section {
    padding: 48px 0px;
  }
  .custom-width-30 {
    width: 48%;
  }
}
@media screen and (max-width: 767px) {
  .custom-width-30 {
    width: 100%;
  }
  .breadcrumb-section .breadcrumb-img {
    height: 150px;
  }
  .breadcrumb-section {
    padding: 43px 0px;
  }
  .breadcrumb-section .content h1 {
    font-size: 25px;
  }
  .service-section .service-bottom {
    gap: 30px 0px;
  }
  .service-section .service-cont .btn-cont {
    gap: 0px 20px;
  }
}
