/* Ambons HTML5 Template  */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header
5. Hidden Sidebar
6. Banner Section
7. Page Title
8. Section Banner
9. Section Title
10. About Section
11. Blog Section

**********************************************/

/*==============================================
  Google Font
===============================================*/

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/*============================================
=           01.  Banner Section          =
=============================================*/
.carousel-item {
  position: relative;
}

.carousel-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  object-position: center center;
  top: 0;
  left: 0;
  z-index: -1;
}
.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* adjust darkness here */
  z-index: -1;
}

.text-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 15px 80px 15px;
  text-align: center;
  color: #fff;
}

.heroic-text {
  font-size: 40px;
  line-height: 50px;
  width: 65%;
  margin-bottom: 15px;
  color: #fff;
}

.text-container p {
  font-size: 20px;
  color: #fffafa;
  width: 65%;
}
.hero-btn {
  margin-top: 40px;
  gap: 20px;
}

.btn-style-color-change {
  background-color: var(--thm-primary);
}

.carousel-control-prev {
  left: 20px;
}
.carousel-control-next {
  right: 20px;
}
.carousel-control-prev,
.carousel-control-next {
  top: 40%;
  opacity: 0.9;
}
.carousel-control-prev,
.carousel-control-prev:hover,
.carousel-control-next,
.carousel-control-next:hover {
  background-color: var(--thm-base);
  border-radius: 50%;
  padding: 12px;
  width: fit-content;
  height: fit-content;
  border: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

/* Discount CSS */
.discount-btn {
  position: absolute;
  top: 5%;
  right: 2%;
  z-index: 5;
  width: fit-content;
}
.dicount-btn-cont {
  position: relative;
}
.discount-img {
  width: 130px; /* Adjust size */
  height: auto;
  transition: transform 0.3s ease-in-out;
  animation: rotate360 16s linear infinite;
  z-index: 5;
}
.discount-img-inner {
  position: absolute;
  width: 100px;
  right: 11.5%;
  top: 6%;
  z-index: 5;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*============================================
=           02.  Service Section          =
=============================================*/
.service-section .service-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.service-section .service-top h4,
.service-section .service-top h2 {
  text-align: center;
}
.service-section .service-top h2 {
  margin-bottom: 10px;
}
.service-section .service-top p {
  font-size: 16px;
  margin: 0px;
  text-align: center;
}
.service-section .service-bottom {
  justify-content: center;
  gap: 20px 15px;
}
.service-section .service-bottom img {
  border-radius: 5px;
  margin-bottom: 20px;
}
.service-section .service-cont {
  background: #ebebeb;
  box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.6s ease-in-out;
}
.service-section .service-cont:hover {
  background-color: var(--thm-base);
}
.service-section .service-cont h4 {
  font-size: 22px;
  color: var(--thm-primary);
  margin-bottom: 10px;
}
.service-section .service-cont:hover h4,
.service-section .service-cont:hover p {
  color: #fff;
}
.service-section .service-cont:hover .btn-cont .btn-style::before {
  transform: translateX(0px);
}

.service-section .service-cont .btn-cont {
  gap: 0px 10px;
  margin-top: 20px;
}

.service-section .service-cont .btn-style {
  padding: 5px 30px;
}
.service-section .service-cont .btn-style span {
  line-height: 36px;
}
.custom-width-30 {
  width: 32.4%;
}

/*============================================
    Service Section End          
=============================================*/

/*=============================================
    About Section  
=============================================*/
.about-section .about-container {
  gap: 0px 40px;
}
.about-section .about-left {
  position: relative;
  height: fit-content;
  padding: 0px 15px;
}
.about-section .about-left img {
  height: 550px;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}

.about-section .about-left .inner {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.about-section .about-left .inner::before {
  position: absolute;
  top: 0;
  left: -100%;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(15deg);
  z-index: 1;
}

.about-section .about-left:hover .inner::before {
  animation: shine 1.5s;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.about-section .about-left::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 10px;
  bottom: 165px;
  width: 5px;
  background: var(--thm-base);
  transition: all 500ms linear 0.1s;
  z-index: 1;
  border-radius: 5px;
}

.about-section .about-left:hover::before {
  bottom: 0px;
}

.about-section .about-left .establish {
  position: absolute;
  display: flex;
  gap: 20px;
  align-items: center;
  bottom: 20px;
  left: 40px;
  background: #ffffff;
  padding: 15px 50px;
  z-index: 5;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  border-radius: 5px;
}
.about-section .about-left .establish i {
  font-size: 30px;
  color: var(--thm-base);
}
.about-section .about-left .establish h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--thm-primary);
}
.about-section .about-left .establish p {
  margin-bottom: 5px;
}

.about-section .about-right .top-section {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  margin-bottom: 10px;
}
.about-section .about-right .top-section i {
  font-size: 20px;
  color: var(--thm-base);
}
.about-section .about-right .top-section h4 {
  margin-bottom: 0px;
}
.about-section .about-right h2 {
  margin-bottom: 5px;
}
.about-section .about-right p {
  font-size: 18px;
}
.about-section .about-right .btn-cont {
  margin-top: 30px;
  display: flex;
  gap: 0px 20px;
}
.highlight-section {
  padding-top: 30px;
}
.highlight-section .bg-color {
  background-color: #fff;
  padding: 30px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
}
.highlight-section .counter-cont {
  text-align: center;
  border-right: 2px solid var(--thm-base);
}
.highlight-section h2 {
  margin-bottom: 5px;
}
.highlight-section span {
  color: var(--thm-base);
}
.highlight-section .btn-style span {
  color: #fff;
}
.highlight-section .highlight-btn {
  text-align: center;
  margin-top: 50px;
}

/*=============================================
    About Section  End
=============================================*/

/*=============================================
    Process Section  
=============================================*/
.process-section .process-cont {
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 100%;
  padding: 60px 40px;
}

.process-carousel {
  width: 100%;
  text-align: center;
}
/* .process-section .process-carousel h2 {
  color: var(--thm-base);
} */
.process-carousel .carousel-tabs {
  display: inline-flex;
  gap: 0px 20px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.process-carousel .tab-button {
  background-color: transparent;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 16px;
  color: var(--thm-primary);
  position: relative;
  outline: none;
  font-weight: 500;
}

.process-carousel .tab-button .progress-bar {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 3px;
  background-color: var(--thm-base);
  width: 0;
  transition: none;
  border-radius: 5px;
}

.process-carousel .tab-button .tab-button.active {
  color: var(--thm-base);
  font-weight: 600;
}

.process-panel {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: left;
}

.process-panel.active {
  display: flex;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.process-text {
  text-align: center;
}
.process-text h2 {
  text-align: center;
  color: var(--thm-base);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
}

.process-text p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.process-panel .process-text .btn-style {
  margin: auto;
}

/*=============================================
    Process Section End
=============================================*/

/*=============================================
    Choose Section End
=============================================*/
.choose-section .top-section {
  text-align: center;
  margin-bottom: 50px;
}
.choose-section .top-section h2 {
  margin-bottom: 10px;
}

.choose-section .bottom-section {
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  border-radius: 10px;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: #f0f0f0; */
}
.choose-section .bottom-section .cont {
  text-align: center;
  margin-top: 40px;
  padding: 0px 15px;
  position: relative;
}
.choose-section .bottom-section .cont .icon {
  height: 50px;
}
.choose-section .bottom-section .cont::before {
  content: "";
  height: 60px;
  width: 60px;
  top: -10px;
  position: absolute;
  left: 42%;
  background-color: #ee296a;
  border-radius: 50%;
  transition: all 500ms ease;
  z-index: 1;
  opacity: 0;
}
.choose-section .bottom-section .cutom-border {
  border-right: 2px solid var(--thm-base);
}
.choose-section .bottom-section i {
  font-size: 50px;
  color: var(--thm-base);
  position: relative;
  text-align: center;
  z-index: 2;
  transition: all 500ms ease;
}
.choose-section .bottom-section .cont:hover i {
  font-size: 40px;
  color: var(--thm-black);
}
.choose-section .bottom-section .cont:hover::before {
  opacity: 1;
}
.choose-section .bottom-section .cont h3 {
  font-size: 22px;
  color: var(--thm-base);
  margin: 10px 0px 5px 0px;
}

/*=============================================
    Choose Section End
=============================================*/

/*** 
=============================================
    Highlight-1 Section
=============================================
***/
.highlight-section-1 {
  background: var(--thm-base);
  margin: 120px 0px;
}
.highlight-section-1 .highlight-inner {
  padding: 50px 0px;
}
.highlight-section-1 .map-box {
  position: absolute;
  right: -50%;
  top: 0px;
}

.highlight-section-1 .map-box img {
  opacity: 0.3;
}

.highlight-section-1 .map-animation {
  animation: float-bob 5s ease-in-out infinite;
}
@keyframes float-bob {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-50px);
  }
}

.highlight-section-1 .ambulance-animate {
  position: relative;
}

.highlight-section-1 .ambulance-animate img {
  z-index: 1;
  animation: float-bob-y 2s linear infinite;
}
@keyframes float-bob-y {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.highlight-section-1 .ambulance-animate::before {
  content: "";
  position: absolute;
  top: -78px;
  left: -18px;
  width: 400px;
  height: 400px;
  background: #f2f3fa;
  border-radius: 50%;
  z-index: 0;
}

.highlight-section-1 .text-section h2 {
  color: #ffffff;
  margin-bottom: 25px;
}

.highlight-section-1 .text-section a {
  color: #ffffff;
  background-color: var(--thm-primary);
}
/*** 
=============================================
    Highlight-1 Section End
=============================================
***/

/*** 
=============================================
    Equipment Section
=============================================
***/
.equipment-section .top-section {
  text-align: center;
  margin-bottom: 50px;
}
.equipment-section .top-section h2 {
  margin-bottom: 10px;
}
.equipment-section .bottom-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.equipment-section .bottom-section .cont {
  box-shadow: 0px 4px 12px 0px rgba(206, 196, 196, 0.45);
  border-radius: 10px;
  padding: 40px 20px;
  /* background-color: #f0f0f0; */
  text-align: center;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.equipment-section .bottom-section .cont .effect {
  content: "";
  position: absolute;
  right: -56px;
  bottom: -60px;
  background: #e3e3e3;
  width: 150px;
  height: 150px;
  border-radius: 50% 50% 0 0;
  transition: all 0.5s ease;
  background: #f87171;
}

.equipment-section .bottom-section .cont:hover .effect {
  height: 100%;
  width: 100%;
  background-color: var(--thm-base);
  right: 0;
  bottom: 0;
  border-radius: inherit;
  z-index: -1;
}
.equipment-section .bottom-section .cont .effect img {
  position: absolute;
  bottom: 70px;
  right: 65px;
  width: 50px;
}
.equipment-section .bottom-section .cont:hover .effect img {
  bottom: 20px;
  right: 20px;
}
.equipment-section .bottom-section .cont h3 {
  color: var(--thm-base);
  font-size: 22px;
}
.equipment-section .bottom-section .cont:hover h3,
.equipment-section .bottom-section .cont:hover p {
  color: #fff;
}

/*** 
=============================================
    Equipment Section End
=============================================
***/
/*** 
=============================================
    FAQ Section
=============================================
***/

.faq-section .faq-top {
  margin-bottom: 50px;
}
.faq-section .faq-top h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 5px;
}
.accordion {
  padding: 40px 30px;
  background-color: #fff;
  box-shadow: 12px 19px 62px 0px rgba(13, 52, 79, 0.07);
  border-radius: 10px;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 0px;
}
.accordion button {
  border: 0px;
  border-radius: 0px;
  padding: 20px 20px 20px 0px;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
  color: #111013;
  font-size: 20px;
}

.accordion button:hover {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #cccccc;
  border-left: 0;
}
.accordion .accordion-item {
  border: 0px;
}
.accordion-button:focus {
  border: 0px;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  border: 0px;
  color: #111013;
  font-size: 20px;
  border: none;
}
.accordion-body {
  font-size: 18px;
  padding: 10px 15px 10px 15px;
}
/*** 
=============================================
    FAQ Section End
=============================================
***/

@media screen and (max-width: 1025px) {
  .spacing {
    padding: 80px 30px;
  }
  .heroic-text {
    font-size: 35px;
    width: 90%;
  }
  .text-container p {
    width: 80%;
  }
  .custom-width-30 {
    width: 48%;
  }
  .about-section .about-container {
    gap: 30px;
    flex-wrap: wrap;
  }
  .about-section .about-left {
    padding: 0px;
  }
  .about-section .about-left::before {
    right: -5px;
  }
  .about-section .about-container {
    gap: 40px;
  }
  .about-section .about-right p {
    font-size: 16px;
  }
  .about-section {
    padding-bottom: 0px;
  }
  .highlight-section .bg-color {
    width: 100%;
  }
  .highlight-section .bg-color > .col {
    flex-wrap: wrap;
    gap: 30px 0px;
  }
  .highlight-section .bg-color .md-border-0 {
    border-right: 0px;
  }
  .process-carousel .carousel-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0px;
  }
  .choose-section .bottom-section {
    justify-content: center;
  }
  .equipment-section .top-section,
  .choose-section .top-section,
  .faq-section .faq-top {
    margin-bottom: 30px;
  }
  .choose-section .bottom-section .cont::before {
    left: 41%;
  }
  .equipment-section .bottom-section {
    gap: 25px 15px;
  }
  .highlight-section-1 .map-box {
    right: 0px;
    overflow: hidden;
  }
  @keyframes float-bob {
    0% {
      transform: translateX(50px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(50px);
    }
  }
  .highlight-section-1 .ambulance-animate::before {
    position: relative;
  }
  .highlight-section-1 .text-section {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .spacing {
    padding: 60px 5px;
  }
  .heroic-text {
    font-size: 25px;
    line-height: 35px;
    width: 100%;
  }
  .text-container p {
    width: 100%;
    font-size: 16px;
  }
  .btn-style {
    padding: 0px 20px;
  }
  .service-section .service-cont {
    width: 92% !important;
  }
  .custom-width-30 {
    width: 100%;
  }
  .about-section .about-left img {
    height: 100%;
  }
  .about-section .about-left .establish {
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
  }
  .about-section .about-left .establish h2 {
    font-size: 30px;
  }
  .highlight-section {
    padding-top: 0px;
  }
  .highlight-section .bg-color {
    padding: 20px 10px;
  }
  .highlight-section .counter-cont h5,
  .highlight-section .text-center h5 {
    font-size: 16px;
  }
  .choose-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .choose-section .bottom-section i {
    font-size: 40px;
  }
  .choose-section .bottom-section .cont:hover i {
    font-size: 30px;
  }
  .choose-section .bottom-section .cont::before {
    left: 43%;
    width: 50px;
    height: 50px;
  }
  .highlight-section-1 {
    margin: 80px 0px;
  }
  .faq-section .faq-top h2 {
    font-size: 25px;
  }
  .accordion {
    padding: 30px 15px;
  }
  .accordion button,
  .accordion-button:not(.collapsed) {
    padding: 20px 10px 20px 0px;
    font-size: 18px;
  }
  .accordion-body {
    font-size: 16px;
    padding: 10px 10px 10px 10px;
  }
}
